body {
    margin-top: 10%;
    text-align: center;
    background-color: darkcyan;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.information {
    display: flex;
    flex-direction: column; /* Stack inputs vertically */
    justify-content: center;
    align-items: center;
    gap: 15px; /* spacing between inputs */
}

label {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
}

input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: darkcyan;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: lightgray;
}

#result {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    white-space: pre-li
}